<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%= "#{current_article.title} - " if current_article %><%= data.site.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="{{ site.url }}/img/common/icon.png">
<%= stylesheet_link_tag "app.css" %>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link href="/atom.xml" rel="alternate" title="Webtech Walker" type="application/atom+xml">

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1474271-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>

<div class="mod-search"><div><div>
<script>
  (function() {
    var cx = '009998432291159805000:ynkvdx8xlie';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search linkTarget="_self"></gcse:search>
</div></div></div>

<div class="mod-content">

<header class="mod-header">
<h1><a href="/"><img src="/img/mod-header/logo.png" alt="Webtech Walker"></a></h1>
<!-- /header.mod-header --></header>

<div class="mod-main">
<%= yield %>
<!-- /div.mod-main --></div>

<!-- /div.mod-content --></div>

<footer class="mod-footer"><div>
<ul class="icons">
  <li><a href="https://twitter.com/hokaccha"><img src="/img/mod-footer/icon-twitter.png"></a></li>
  <li><a href="http://www.facebook.com/hokaccha"><img src="/img/mod-footer/icon-fb.png"></a></li>
  <li><a href="https://github.com/hokaccha"><img src="/img/mod-footer/icon-github.png"></a></li>
  <li><a href="http://www.flickr.com/photos/hokaccha"><img src="/img/mod-footer/icon-flickr.png"></a></li>
  <li><a href="/atom.xml"><img src="/img/mod-footer/icon-rss.png"></a></li>
</ul>
<div class="name">Created by Kazuhito Hokamura (k.hokamura@gmail.com)</div>
<!-- /footer.mod-footer --></div></footer>
</body>
</html>
