---
layout: default
---
<article class="mod-entry">
 
<time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date: "%Y月%m月%d日" }}</time>

<ul class="tags">
  {% for tag in page.tags %}
    <li><a href="/tags/{{ tag }}.html">{{ tag }}</a></li>
  {% endfor %}
</ul>

<h1>{{ page.title }}</h1>

<div class="body">
{{ content }}
</div>

<div class="socials">
  <div class="hatebu">
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </div>

  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="fb">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>

  <div class="gplus">
    <div class="g-plusone"></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'ja'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>
</div>

<ul class="paginate">
{% if page.previous %}
  <li class="prev"><span>Prev Entry:</span><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
{% endif %}
{% if page.next %}
  <li class="next"><span>Next Entry:</span><a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
{% endif %}
</ul>

</article>
