@media screen and (max-width: 720px) {
  // 日付の背景文字とかぶるのでborderにする
  .mod-entry {
    time {
      background-image: none;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  // 画像切れちゃうので縮める
  .mod-header {
    h1 {
      padding: 30px 0;

      img {
        width: 250px;
        height: 30px;
      }
    }
  }
}
